/* Common styles for all <p> elements */



#main-container {
  display: grid; /* Use grid layout */
  grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
  grid-template-rows: repeat(2, 1fr); /* Two rows with equal height */
  height: 100vh; /* Cover the whole screen vertically */
  font-size: xx-large;
}

#main-container > div {
  padding: 10px;
}

#humidity,
#temperature,
#gas,
#ultrasonic {
  display: none;
}

/* #humidity:after {
  content: " %";
}

#humidity:before {
  content: "💦";
}

#temperature:after {
  content: " °F";
}

#temperature:before {
  content: "🔥";
}

#gas:after {
  content: " ppm";
}

#gas:before {
  content: "🌫";
}

#ultrasonic:after {
  content: " cm";
}

#ultrasonic:before {
  content: "📏";
}

#humidity:before,
#temperature:before,
#gas:before,
#ultrasonic:before {
  margin-right: 8px;
} */