/* Common styles for all <p> elements */

#humidity:after {
  content: " %";
}

#humidity:before {
  content: "💦";
}

#temperature:after {
  content: " °C";
}

#temperature:before {
  content: "🔥";
}

#gas:after {
  content: " ppm";
}

#gas:before {
  content: "🌫";
}

#ultrasonic:after {
  content: " cm";
}

#ultrasonic:before {
  content: "📏";
}

#humidity:before,
#temperature:before,
#gas:before,
#ultrasonic:before {
  margin-right: 8px;
}



p {
  color: white;
  transform: translateX(-50%);
  display: block;
  text-shadow: -0.03em 0 black, 0 0.03em black, 0.03em 0 black, 0 -0.03em black;
    font-size: 1.5em;
  margin-left: 50%;
}
